@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@100&display=swap');
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
*:root{
    --font: 'Poppins', sans-serif;
    --color-black:#2B043B ;
    --color-white:#faf3fe;
    --primario: #8B27B5;
    --primario-L2: #EEDFF4;
    --primario-S3: #53176D;
    --acento-color: #F69B12;
    --gris-1: #6E5C75;
    --exito-color: #66B527;
    
}
body{
    width: 100%;
    background-color: #faf3fe;
    color: var(--color-black);
    font-size: 16px;
    font-family: var(--font);
    
}
button{
    cursor: pointer;
}

/* =============Card ==============*/
.card {
    width: 272px;
    height: 310px;
    background-color: var(--color-white);
    margin: auto;
    margin-top: 130px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.card::after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: "GRATIS";
    text-align: center;
    color: var(--color-white);
    font-size: 12px;
    letter-spacing: 1.8px;
    width: 90px;
    height: 25px;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: var(--exito-color);
    position: absolute;
    left: -6.1px;
    top: 20px;
    /*transition: 0.5s ease;*/

}

.card::before {
    content: "";
    width: 12.6px;
    height: 12px;
    clip-path: polygon(0 0, 50% 0, 50% 100%);
    background-color: var(--exito-color);
    position: absolute;
    left: -6.1px;
    top: 44.8px;
}
.container-img{
    width: 272px;
    height: 165px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    background-image: url("../img/Stumble.png");
    background-size: cover;
}
.container-description{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px;
    margin-left: 18px;
}
.container-title-precio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;

}
.title{
    width: 162px;
    color: var(--color-black);
    font-size: 16px;
    margin-top: 5px;
    margin-left: 2px;
    font-weight: 700;
    line-height: 24px; 
}
.price{
    color: var(--acento-color);
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.description-game{
    width: 228px;
    color: var(--gris-1);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 5px 10px 5px;
}
.container-btn{
    width: 228px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
    margin-left: 20px;
}
.btn-play {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: var(--primario);
    color: var(--color-white);
    font-size: 12px;
}
.btn-play:hover{
    background-color: var(--primario-S3);
    
    transition: 0.5s ease;
}
/*esta clase se podria usar como mas gral, xq luego usamos x ejmplo el carrito en header y es mas grande*/
.btn-buy{
    background-image: url("../img/carrito.svg");
    background-repeat: no-repeat;
    border: none;
    background-color: var(--primario);
}
.btn-buy-card {
    background-size: 20px 20px;
    background-position: center center;
    background-color: var(--acento-color);
    width: 40px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid var(--acento-color);
    
}